<div id="profile" class="page-layout simple tabbed">
    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between end">
        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
               <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/ns/'+currentNamespace">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{currentServiceName}}
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
        <span *ngIf="service" style="margin-right: 30px">last Sync {{service.latestsyncdateutc |  momentAge }}</span>
        </div>
    </div>
    <!-- / HEADER -->

    
    <div class="content">
        <mat-tab-group dynamicHeight="true"  #tabGroup (selectedTabChange)="onTabClick($event)">
            <mat-tab label="Service Details">
                <app-service-detail></app-service-detail>
            </mat-tab>

            <mat-tab label="Health Check Histories">
                 <app-health-check-histories *ngIf="activetab=='history'"></app-health-check-histories>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>



