        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="deployment-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let service">
                        <p class="text-truncate">{{service.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Image Column
                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let service">
                        <img class="service-image"
                             *ngIf="service.featuredImageId" [alt]="service.name"
                             [src]="service.images[service.featuredImageId].url"/>
                        <img *ngIf="!service.featuredImageId"
                             [src]="'assets/images/ecommerce/service-image-placeholder.png'">
                    </mat-cell>
                </ng-container>
                 -->

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let deploment">
                        <p class="text-truncate">{{deploment.name}}</p>
                    </mat-cell>
                </ng-container>


                <!-- Quantity Column -->
                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Image</mat-header-cell>
                    <mat-cell *matCellDef="let deploment" fxHide fxShow.gt-sm>               
                        {{deploment.spec.image  }}                             
                    </mat-cell>
                </ng-container>


                                <!-- Quantity Column -->
                <ng-container matColumnDef="replicas">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Replicas</mat-header-cell>
                    <mat-cell *matCellDef="let deploment" fxHide fxShow.gt-sm>
                        <span  *ngIf="deploment.spec">

                        <span  *ngIf="deploment.spec && deploment.spec.replicas">
                            {{deploment.spec.replicas.value  }}
                        </span>
                        <span *ngIf="deploment.status && deploment.status.readyreplicas && deploment.status.readyreplicas.value ">
                           /  {{deploment.status.readyreplicas.value }}
                        </span>
                            
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->

                <!-- Quantity Column -->
                <ng-container matColumnDef="age">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Age</mat-header-cell>
                    <mat-cell *matCellDef="let deploment" fxHide fxShow.gt-sm>
                        <span *ngIf="deploment.creationtime">
                            {{deploment.creationtime  | momentAge }}
                        </span>

                    </mat-cell>
                </ng-container>

                <!-- Active Column -->

                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Status</mat-header-cell>
                    <mat-cell *matCellDef="let deploment" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="deploment.status && deploment.status.overallstatus=='True'" class="active-icon green-600 s-16">check</mat-icon>
                        <mat-icon *ngIf="deploment.status && deploment.status.overallstatus=='False'" class="active-icon red-500 s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let deployment; columns: displayedColumns;"
                         class="product"
                         matRipple
                         [routerLink]="'/deployment/'+deployment.namespace+'/'+deployment.name"
                         [ngClass]="{ 
                         'unhealthy': deployment.healthisaliveandwell == 'Unhealthy' || deployment.healthisaliveandwell == 'ServiceUnavailable' || deployment.healthisaliveandwell == 'Unauthorized' || deployment.healthisaliveandwell == 'NotAcceptable',  
                         'healthy': deployment.healthisaliveandwell == 'Healthy',
                         'ok': deployment.healthisaliveandwell == 'OK',
                         'degraded': deployment.healthisaliveandwell == 'Degraded'
                           }"
                         >
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="25"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>

