<div class="widget-group p-12" fxLayout="row wrap" fxFlex="100">
 <fuse-widget *ngFor="let node of nodes" [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100">

     <div class="fuse-widget-front">
         <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
             <div class="h3"> {{node.name}} </div>
         </div>

         <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
            
                <mat-accordion style="width: 100%">
                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>Images </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr/>
                            <table class="info jobs">
                                <tr class="job"  *ngFor="let item of node.imagesList" >
                                    <td class="company"> {{item.name}} </td>
                                    <td class="date"> {{item.size}} </td>
                                </tr>
                            </table>
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>Usage</mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr/>
                            <table class="info jobs">
                                <tr class="job"  *ngFor="let item of node.usageList" >
                                    <td class="company"> {{item.key}} </td>
                                    <td class="date"> {{item.value}} </td>
                                </tr>
                            </table>
                    </mat-expansion-panel>

                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>Allocatables</mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr/>
                            <table class="info jobs">
                                <tr class="job"  *ngFor="let item of node.allocatablesList" >
                                    <td class="company"> {{item.key}} </td>
                                    <td class="date"> {{item.value}} </td>
                                </tr>
                            </table>
                    </mat-expansion-panel>


                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>Capacities</mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr/>
                            <table class="info jobs">
                             <tr class="job"  *ngFor="let item of node.capacitiesList" >
                                    <td class="company"> {{item.key}} </td>
                                    <td class="date"> {{item.value}} </td>
                                </tr>
                            </table>
                    </mat-expansion-panel>


                    <mat-expansion-panel >
                        <mat-expansion-panel-header>
                            <mat-panel-title>Conditions </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr/>
                            <table class="info jobs">
                                <tr class="job"  *ngFor="let item of node.conditionsList " >
                                   <!-- <td class="company"> {{item.type}} </td> -->
                                    <td class="date"> {{item.message}} </td>
                                </tr>
                            </table>
                    </mat-expansion-panel>

                </mat-accordion>
            
         </div>
     </div>
 </fuse-widget>

  <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

    <!-- <div class="fuse-widget-front">
         <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
             <div class="h3">Failed Services</div>
         </div>

           <div  *ngIf="stats.unhealthyservicestodayList" class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            
                <div *ngFor="let unsrv of stats.unhealthyservicestodayList" class="h3 secondary-text font-weight-500">
                    {{ unsrv.value }}
                </div>
         </div>

       <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
             <span class="h4 secondary-text text-truncate"> Completed:  </span>
             <span class="h4 ml-8"> 7 </span>
         </div> 
     </div>-->
 </fuse-widget>
</div>
