

 <div class="content" fxLayout="row">

                <app-health-check-histories-list fusePerfectScrollbar fxFlex></app-health-check-histories-list>
                <app-health-check-histories-sidebar fusePerfectScrollbar fxFlex></app-health-check-histories-sidebar>

</div>

<!--
<div id="file-manager" class="page-layout simple right-sidebar inner-scroll">
    
    <div class="center" fxFlex>
        <div class="content" fusePerfectScrollbar>
           <app-health-check-histories-list> </app-health-check-histories-list>
        </div>
    </div>
    

    
    <fuse-sidebar class="sidebar details-sidebar" name="file-manager-details-sidebar" position="right" lockedOpen="gt-md">
        <app-health-check-histories-sidebar></app-health-check-histories-sidebar>
    </fuse-sidebar>
    

</div>

-->


